.body{
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    height: 100%;
    width: 100%;
}
h1 {
    color:rgb(53, 136, 230);
    display: flex;
    justify-content: center;
}
.container_box{
    margin-top: 20px;
    margin-left: 470px;
}
.button{
    text-decoration: none;
  display: inline-block;
  color: white;
  padding: 40px 40px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.name{
    margin-left: 830px;
}